* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Inicio cabecera */

.cabecera {
    width: 100%;
    top: 0;
    height: 75px;
    background-color: black;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
    color: white;
    position: fixed;
}

.cabecera ul {
    display: flex;
    margin-right: 225px;
}
.cabecera li {
    list-style: none;
    margin-left: 15px;
}
.logo {
    width: fit-content;
    display: flex;
}
.logo img {
    margin-right: 10px;
}

/* Fin cabecera */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 0, 191);
    font-weight: bold;
}

/* Servicios inicio */

.servicios {
    margin-top: 104px;
    height: 100vh;
    width: 100%;
    background-color: rgb(63, 51, 48);
    display: flex;
    padding-top: 2rem;
}

.serviciosMain {
    border-radius: 10px;
    padding: 45px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 350px;
    background-color: azure;
}
.serviciosMain h3 {
    margin: 15px;
}
.serviciosMain a {
    color: black;
}
.serviciosMain img {
    margin: 15px;
}
.serviciosMain p {
    text-align: justify;
}
.serviciosMain button {
    margin: 60px;
}

/* Servicios final */

/* Contactos Inicios */
.contacto {
    align-items: center;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: darkkhaki;
}
.equipo {
    text-align: center;
    margin: 0 auto;
}
.equipo img {
    margin: 60px;
}
.equipo h3 {
    margin: 30px;
}
.equipo button {
    margin: 30px;
}
.contacto a {
    color: black;
}
.contacto img {
    border-radius: 50%;
}
/* Contactos Final */

/* Testimonios Inicio */
.testimonio {
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    background-color: lightcoral;
}
.testimonio img {
    border-radius: 50%;
}
.personas {
    text-align: center;
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

#Uno {
    background-color: lightcyan;
}
#Dos {
    background-color: lightslategray;
}
#Tres {
    background-color: limegreen;
}
/* Testimonios Final */
