* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.cabecera {
    top: 0;
    height: 75px;
    background-color: black;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    color: white;
}

.cabecera ul {
    display: flex;
}
.cabecera li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 0, 191);
    font-weight: bold;
}

.servicios {
    padding-top: 3rem;
    height: 100vh;
    width: 100%;
    background-color: rgb(63, 51, 48);
    display: flex;
}

.serviciosMain {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 350px;
    background-color: azure;
}

#servicios {
    text-align: center;
    margin: 15px;
}
