* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

img:hover {
    transform: scale(1.02, 1.02);
}

/* Botones */
button {
    border-style: none;
    width: 100px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    border-radius: 50px;
    font-size: 15px;
}
button:hover {
    box-shadow: 2px 5px 4px #414141;
    transform: scale(1.02, 1.02);
}

/* Inicio cabecera */

.cabecera {
    width: 100%;
    top: 0;
    height: 75px;
    background-color: black;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
    color: white;
    position: fixed;
}

.cabecera ul {
    display: flex;
    margin-right: 225px;
}
.cabecera li {
    list-style: none;
    margin-left: 15px;
}
.logo {
    width: fit-content;
    display: flex;
}
.logo img {
    margin-right: 10px;
    width: 11%;
    border-radius: 50%;
}

/* Fin cabecera */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 0, 191);
    font-weight: bold;
}

/* Servicios inicio */

.servicios {
    margin-top: 104px;
    height: 100vh;
    width: 100%;
    background-color: rgb(63, 51, 48);
    display: flex;
    padding-top: 2rem;
}

.serviciosMain {
    border-radius: 55px;
    background: #e0e0e0;
    box-shadow: 12px 12px 25px #5e5e5e;
    padding: 45px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 450px;
}
.serviciosMain h3 {
    margin: 15px;
}
.serviciosMain a {
    color: rgb(255, 255, 255);
}
.serviciosMain img {
    margin: 0px;
    border-radius: 50%;
    border-color: black;
    width: 50%;
}
.serviciosMain p {
    text-align: justify;
}
.serviciosMain button {
    margin: 60px;
}

/* Servicios final */

/* Contactos Inicios */
.titleContactos {
    width: 100%;
    height: 50px;
    text-align: center;
}
.titleContactos h1 {
    margin-top: 10px;
}
.contacto {
    align-items: center;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 1, 192);
}
.equipo {
    text-align: center;
    margin: 0 auto;
}
.equipo img {
    border-radius: 50%;
    width: 50%;
    margin: 10px;
}
.equipo h3 {
    margin: 30px;
}
.equipo button {
    margin: 30px;
}
.contacto a {
    color: rgb(255, 255, 255);
}
/* Contactos Final */

/* Testimonios Inicio */
.titleTestimonios {
    width: 100%;
    height: 50px;
    text-align: center;
}
.titleTestimonios h1 {
    margin-top: 10px;
}

.testimonio {
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    background-color: lightcoral;
}
.personas {
    text-align: center;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    align-items: center;
}
.personas p {
    padding: 25px;
    text-align: center;
}
.personas img {
    margin: 25px;
}
.fotos {
    width: 150px;
    border-radius: 50%;
}
#Uno {
    background-color: lightcyan;
}
#Dos {
    background-color: lightslategray;
}
#Tres {
    background-color: limegreen;
}
/* Testimonios Final */
